.myparcel-checkout {
  &__loader {
    position: relative;

    &--spinner {
      margin: auto;
      text-align: center;

      span {
        width: 75px;
        height: 75px;
        position: relative;
        display: inline-block;
        transition: border-top-color .3s ease;
        border: 4px solid transparent;
        border-top-color: $primary;
        border-radius: 100%;
        animation: spin .5s linear infinite;
      }
    }

    &--inline {
      div {
        height: 1.2em;
        margin-top: 6px;
        animation: shimmer 2s infinite linear;
        background: rgba(0, 0, 0, .05) linear-gradient(to right, transparent 25%, rgba(0, 0, 0, .05) 50%, transparent 75%);
        background-size: 400% 400%;

        &:nth-child(1) { width: 85%; }
        &:nth-child(2) { width: 100%; }
        &:nth-child(3) { width: 75%; }
      }
    }
  }
}
