.myparcel-checkout__loader {
  position: relative;
  margin: auto;
  text-align: center;

  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
  }

  span {
    width: 75px;
    height: 75px;
    position: relative;
    display: inline-block;
    transition: border-top-color .3s ease;
    border: 4px solid transparent;
    border-top-color: $primary;
    border-radius: 100%;
    animation: spin .5s linear infinite;
  }

  @each $carrier in map_keys($carriers) {
    &--#{$carrier} span {
      border-top-color: map_get($carriers, $carrier);
    }
  }
}
