.#{$classBase}__modal {
  padding: $modal-content-padding;

  &__close {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    padding: $modal-content-padding;

    img {
      width: 1em;
      cursor: pointer;
    }
  }
}
