.myparcel-checkout__tooltip {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: $tooltip-content-padding;
  background-color: white;

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $tooltip-content-padding;

    img {
      width: 1em;
      cursor: pointer;
    }
  }
}
