$classBase: 'development' !default; // Is overridden in prod by vue.config.js

$primary: #eee;
$positive: green;

$modal-content-padding: 1em;

$spacing-sm: 25px;
$spacing-md: 50px;
$spacing-lg: 75px;
