@import "variables";
@import "keyframes";
@import "transitions/index";
@import "choice";
@import "image";
@import "loader";
@import "modal";
@import "table";

.#{$classBase} {
  position: relative;

  &__d-block {
    display: block;
  }

  &__select {
    width: 100%;
  }

  &__float-left {
    float: left;
  }

  &__float-right {
    float: right;
  }

  &__text-green {
    color: $positive;
  }

  &__errors {
    input {
      width: 100%;
    }
  }

  &__spacing {
    &--md {
      height: $spacing-md !important;
    }
  }
}
