@import "variables";
@import "keyframes";
@import "loader";
@import "modal";
@import "transitions/index";

.myparcel-checkout {
  position: relative;

  &__d-block {
    display: block;
  }

  &__button {
    width: 100%;
    text-align: center;
    cursor: pointer;
  }

  &__image {
    user-select: none;
    display: inline-block;

    &--lg {
      width: $choice-image-size * 1.25;
      height: $choice-image-size * 1.25;
    }

    &--md {
      width: $choice-image-size;
      height: $choice-image-size;
    }

    &--sm {
      vertical-align: middle;
      width: $choice-image-size / 2;
      height: $choice-image-size / 2;
    }
  }

  &__choice {
    &--disabled label {
      opacity: .5;
    }

    &--has-image > td {
      &:first-child input {
        height: $choice-image-size;
      }

      .myparcel-checkout__loader--inline div:nth-child(1) {
        margin-top: 0;
      }
    }
  }

  table {
    margin: 0;
    width: 100%;

    tr, td {
      background-color: transparent;
      border: 0;
    }

    td {
      padding: 0;
      vertical-align: top;

      label {
        display: block;
        text-align: left;
      }

      &.myparcel-checkout__input {
        width: 1px;
        padding-right: 6px;
      }
    }
  }

  &__select {
    width: 100%;
  }

  &__float-right {
    float: right;
  }

  &__text-green {
    color: $positive;
  }

  &__errors {
    input {
      width: 100%;
    }
  }
}
