@import "variables";
@import "keyframes";

.#{$classBase} {
  @import "transitions/index";
  @import "choice";
  @import "image";
  @import "loader";
  @import "modal";
  @import "table";
  @import "pickup";
  @import "map";

  position: relative;

  .#{$classBase} {
    &__d-block {
      display: block;
    }

    &__select {
      width: 100%;
    }

    &__float {
      &--left {
        float: left;
      }

      &--right {
        float: right;
      }
    }

    &__text {
      &--green {
        color: $positive;
      }

      &--small {
        opacity: .6;
        font-size: 0.9em;
      }
    }

    &__errors {
      input {
        width: 100%;
      }
    }

    &__spacing {
      &--md {
        height: $image-size-md !important;
      }
    }
  }
}
