@font-face {
  font-family: "Proxima Nova";
  src: url("https://assets.myparcel.nl/skin/fonts/proxima-nova/proxima-nova-regular.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("https://assets.myparcel.nl/skin/fonts/proxima-nova/proxima-nova-bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("https://assets.myparcel.nl/skin/fonts/proxima-nova/proxima-nova-light.woff2") format("woff2");
  font-weight: 300;
}
