$commentColor: #5b564e;
$punctuationColor: #444;
$stringColor: #ffac00;
$propertyColor: #f81f00;
$selectorColor: #690;
$operatorColor: #5b564e;
$variableColor: #e90;
$functionColor: #32dd00;
$keywordColor: #ff1651;
$selectedColor: #b3d4fc;

code[class*="language-"],
pre[class*="language-"] {
  color: $primary;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.7;
  tab-size: 2;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  position: relative;
  margin: .5em 0;
  overflow: visible;
  padding: 0;
}

pre[class*="language-"] > code {
  position: relative;
  background-color: #fafafa;
  background-image: linear-gradient(transparentize($primary, .95) 50%, #00bbc500 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid $primary;
}

code[class*="language"] {
  max-height: inherit;
  height: inherit;
  padding: 0 1em;
  display: block;
  overflow: auto;
}

/* Margin bottom to accomodate shadow */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #fdfdfd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  position: relative;
  padding: .2em;
  border-radius: 0.3em;
  color: #c92c2c;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline;
  white-space: normal;
}

.token {

  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: $commentColor;
  }

  &.punctuation {
    color: $punctuationColor;
  }

  &.number {
    color: #b700ff;
  }

  &.property,
  &.tag,
  &.constant,
  &.symbol,
  &.deleted {
    color: $propertyColor;
  }

  &.string {
    color: $stringColor;
  }

  &.selector,
  &.attr-name,
  &.char,
  &.builtin,
  &.inserted {
    color: $selectorColor;
  }

  &.operator,
  &.entity,
  &.url {
    color: $operatorColor;
  }

  &.atrule,
  &.attr-value,
  &.important,
  &.boolean,
  &.keyword {
    color: $keywordColor;
  }

  &.function {
    color: $functionColor;
  }

  &.regex,
  &.variable {
    color: $variableColor;
  }

  &.important {
    font-weight: normal;
  }

  &.bold {
    font-weight: bold;
  }

  &.italic {
    font-style: italic;
  }

  &.entity {
    cursor: help;
  }
}

.namespace {
  opacity: .7;
}

@media screen and (max-width: 767px) {
  pre[class*="language-"]:before,
  pre[class*="language-"]:after {
    bottom: 14px;
    box-shadow: none;
  }

}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers.line-numbers {
  padding-left: 0;
}

pre[class*="language-"].line-numbers.line-numbers code {
  padding-left: 3.8em;
}

pre[class*="language-"].line-numbers.line-numbers .line-numbers-rows {
  left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

pre[data-line] code {
  position: relative;
  padding-left: 4em;
}

pre .line-highlight {
  margin-top: 0;
}
