@import url('https://fonts.googleapis.com/css?family=Exo:600');

$primary: #14795a; // Todo: when new branding is released
$primary: #01bbc5;

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$headings-font-family: 'Proxima Nova', $font-family-base; // Todo: when new branding is released
$headings-font-family: 'Exo', $font-family-base;

$headings-font-weight: 600;
$headings-color: $primary;
